/***************************
*
*       Base styles
*
***************************/


html {
  font-size: 85%;
  font-family: $font-body;
  line-height: 1.1;
  @media only screen and ($vp-large) {
    font-size: 100%;
    line-height: 1.35;
  }
}




a {
  color: $color-brand;
  text-decoration: none;
  &:visited {
    color: $color-brand;
  }
  &:hover {
    color: lighten($color-brand, 10%);
  }
}
