/***************************
*
*       Helpers
*
***************************/




// Clearfix
///////////////////////////////////

%clearfix {
  content: "";
  display: table;
  clear: both;
}



/* General use container
**********************************/

.container {
	width: $container-width;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
	&:after {
		@extend %clearfix;
	}
}

/* Text Helpers
**********************************/

.txt-left    { text-align: left;    }
.txt-center  { text-align: center;  }
.txt-right   { text-align: right;   }
.txt-justify { text-align: justify; }
