///////////////////////////////////////////////////////////////////////////////
// # Resets
//    Add your global resets here
///////////////////////////////////////////////////////////////////////////////


// ## Changes the box-model
//    This makes life much easier when working with RWD. Use it to make your
//    life easier
///////////////////////////////////////////////////////////////////////////////

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}



// ## Responsive images
///////////////////////////////////////////////////////////////////////////////

img {
  max-width: 100%;
  height: auto;
}



// ## Resets ul's
//    I prefer to reset the ul's as I hardly keep the default styles
///////////////////////////////////////////////////////////////////////////////

ul {
  padding-left: 0;
  margin: 0;
}
