/**************************
*
*  Resets
*
**************************/


/* Changes the box-model
**********************************/
*{
  &,
  &:before,
  &:after{
    box-sizing: border-box;
  }
}




/* Responsive images
**********************************/

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  margin: 0;
}
