/***********************************
*
*	Type
*
************************************/

p, ul, ol, hr, table, form, pre,
h1, h2 {
	margin-bottom: 1.5em;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
}

h2 {
	font-size: 2rem;
	font-weight: normal;
}

h3 {
	font-size: 1.5rem;
}
