// Colors - Change, add or delete as you need
$brand-color: #256E84;
$highlight-color: #B80000;
$highlight-light-color: #D30000;
$highlight-dark-color: #640B0B;

// Fonts
$display-font: Arial, sans-serif;
$body-font: Georgia, Times;

// Media Queries break points
// Insert the desired break points here, you can add as much
// as you need, just use the mixin in the _mixins.scss file
$tablet-vp: 650px;
$desktop-vp: 980px;