// Colors
/* Blues and oranges (Giant Goldfish) */
$color-1: #69D2E7;
$color-2: #A7DBD8;
$color-3: #E0E4CC;
$color-4: #F38630;
$color-5: #FA6900;


// Colors
/* Blues (fresh laundry)
$color-1: #00CCBE;
$color-2: #09A6A3;
$color-3: #9DBFAF;
$color-4: #EDEBC9;
$color-5: #FCF9D8;
*/

// Colors
/* Terra and green (choking humidity) 
$color-1: #6E9167;
$color-2: #FFDD8C;
$color-3: #FF8030;
$color-4: #CC4E00;
$color-5: #700808;*/

// Colors
/* Lime, gray and blue (I demand a pancake) *//*
$color-1: #594F4F;
$color-2: #547980;
$color-3: #45ADA8;
$color-4: #9DE0AD;
$color-5: #E5FCC2;
$dark-color: #191919;*/

$intro-color: #2A353F;
$social-bg: rgba(25, 25, 25, 0.39);
$sec-skills-color: rgba(0, 0, 0, 0.29);
$page2-color: #191919;

$cta-color: #B80000;
$cta-light-color: #D30000;
$cta-dark-color: #640B0B;

$stars-color: #FFDD71;

// Fonts
$display-font: 'Quicksand', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Media Queries break points
$tablet-vp: 650px;
$desktop-vp: 980px;