.button {
	background: $cta-color;
	color: #fff;
	@include button;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 2px 2px 0 $cta-dark-color;
	&:visited {
		color: #fff;
	}
	&:hover {
		margin-top: -1px;
		margin-bottom: 1px;
		box-shadow: 1px 1px 0 $cta-dark-color;
	}
	&:active {
		box-shadow: 2px 2px 0 $cta-dark-color inset;
	}
}