// ## Clearfix
// Classic but yet useful clearfix for use with floats.
///////////////////////////////////////////////////////////////////////////////


%clearfix {
  content: "";
  display: table;
  clear: both;
}
