///////////////////////////////////
//
//       Variables
//
///////////////////////////////////




// Colors
///////////////////////////////////

$color-brand: #256E84;




// Fonts
///////////////////////////////////

$font-display: Arial, sans-serif;
$font-body:    Georgia, Times;




// Media Queries break points
///////////////////////////////////

$vp-small: 450px;
$vp-large: 750px;


// Helpers
///////////////////////////////////

$container-width: 1040px;
