///////////////////////////////////////////////////////////////////////////////
// # Variables
//--------------------------------
// All your global variables should be in this file.
// Colors, fonts and Media Queries should always be inside a map for easy
// access and reusability. Try to use abstract names and not font names as
// it won't affect your project in the long run.
///////////////////////////////////////////////////////////////////////////////


// ## Colors
//---------------------------------
///////////////////////////////////////////////////////////////////////////////
$colors: (
  brand:     #2196F3,
  highlight: #FF9800,
  light:     #BBDEFB,
  dark:      #1976D2
);


// ## Fonts
//---------------------------------
///////////////////////////////////////////////////////////////////////////////
$fonts: (
  display: Arial, sans-serif,
  body:    Georgia, Times
);


// ## Media Queries break points
//---------------------------------
///////////////////////////////////////////////////////////////////////////////
$viewports: (
  small: 450px,
  large: 750px
);


// # Helpers
// Any global helper variable should be defined here. Try to chose a name
// that describes it the best possible.
///////////////////////////////////////////////////////////////////////////////
$container-width: 1040px;
