/* A mobile first adaptation from
   Toast Framework (https://daneden.me/toast/) */

.grid {
        margin-left: 0;
        max-width: none;
}

.unit {
        width: 50%;
        margin-left: 0;
        display: block;
}

@include media-query(desktop) {

        .grid {
                margin-left: -3%;
                max-width: 105%;
        }

        .unit {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: top;
                margin-left: 3%;
                margin-right: -.25em;
                /* Clearfix */
                overflow: hidden;
                *overflow: visible;
        }

        .span-grid { width: 97%; }

        .one-of-two { width: 47%; }

        .one-of-three { width: 30.36%; }
        .two-of-three { width: 63.666666666%; }

        .one-of-four { width: 22.05%; }
        .three-of-four { width: 72%; }

        .one-of-five { width: 17.07%; }
        .two-of-five { width: 37%; }
        .three-of-five { width: 57%; }
        .four-of-five { width: 77%; }
}