html {
		font-size: 100%;
		font-family: $body-font;
		line-height: 1.3;
	}

	@include media-query(desktop) {
		html {
			font-size: 125%;
			line-height: 1.5;
		}
	}

a {
	color: $highlight-color;
	text-decoration: none;
	&:visited {
		color: $highlight-dark-color;
	}
	&:hover {
		color: $highlight-light-color;
	}
}